/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

:root {
  /* Primary Colours */
  --red: hsl(0, 100%, 68%);

  /* Neutral Colours */
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue:: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}

html, body, #__next{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: 18px;
  font-family: 'Barlow Condensed', sans-serif;
}

html {

}