.navbar {
  width: 100%;
  max-width: 1110px;
  height: fit-content;
  box-sizing: border-box;

  padding: 0px 32px;
  position: absolute;
  top: 38px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
}

.toggleMenu {
  width: 24px;
  height: 24px;
}

.links {
  display: none;
}

@media only screen and (min-width: 550px) {
  .navbar {
    top: 64px;
    padding: 0px;

  }

  .hamburger {
    display: none;
  }

  .logo {
    width: 31.15px;
    height: 31.76px;
  }

  .links {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 379px;
  }

  .link {
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: var(--very-dark-blue);
    text-transform: uppercase;
  }

  .linkMuted {
    opacity: 0.5;
  }

  .dotBreak {
    background-color: var(--very-dark-blue);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    opacity: 0.15;
  }
}
