.navbar {
  width: 100%;
  height: fit-content;
  padding: 38px 32px 0px 32px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: none;
}

@media only screen and (min-width: 650px) {
  .hamburger {
    display: none;
  }

  .links {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 379px;
  }

  .link {
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color:var(--very-dark-blue);
  }

  .linkMuted {
    opacity: 0.5;
  }
  
  .dotBreak {
    background-color: var(--very-dark-blue);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    opacity: 0.15;
  }
}
